:root {
  /* color für später (türkis und lila:
  #530aa1;
  #613dc1;
  #858ae3;
  #97dffc; */

  --color1: aqua;
  --color2: lightgray;
  --color3: gray;
  --color4: #;
  --color5: #;

  --color1: #f1c0e8;
  --color2: #fcd269;
  --color3: #f0a037;
  --color4: #dc2f02;
  --color5: #fff;

  --color1: #f6bd60;
  --color2: #f7ede2;
  --color3: #f5cac3;
  --color4: #84a59d;
  --color5: #f28482;

  font-family: "Alatsi", sans-serif;
  font-family: "Amatic SC", handwriting;
}

/* background-image: linear-gradient(ks
    90deg,
    var(--color1) 20%,
    hsl(197, 94%, 89%) 80%
  ); */

  /* @media (min-width: 576px) {
  .wrapper {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  .wrapper:hover {
    -webkit-filter: none;
    filter: none;
  }
} */